@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

html {
    position: relative
}

body {
    background: #fafafa;
    font-family: Roboto, Arial;
    color: #111;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 400;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none
}

a {
    color: #111;
    text-decoration: none !important;
    outline: 0;
    -moz-outline: none
}

a:hover {
    color: #3e8afa
}

.btn-radius {
    border-radius: 30px
}

.btn-focus,
.btn-primary {
    background: #3e8afa !important;
    color: #fff !important;
    border-color: #3e8afa !important
}

.btn-focus:hover,
.btn-primary:hover {
    background: #2160bc !important;
    border-color: #2160bc !important
}

.btn-secondary {
    background: #eee;
    border-color: #eee;
    color: #111
}

.btn-light {
    background: #e2e6ea;
    border-color: #e2e6ea
}


.h2-heading {
    font-size: 2em !important;
    margin-bottom: 0
}

#search,
#sidebar_menu,
.film-poster-ahref i,
.film-poster-ahref:after,
.film-poster-ahref:before,
.film-poster-img,
.search-content input.search-input {
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}

#header {
    height: 65px;
    background: #144184;
    margin-bottom: 25px;
    position: relative;
    z-index: 99
}

#header .container {
    position: relative
}

#header #logo {
    display: inline-block;
    height: 35px;
    margin: 15px 30px 15px 0;
    float: left
}

#header #logo img {
    height: 100%;
    width: auto;
    margin-right: 10px;
    float: left
}

#header #logo span {
    line-height: 35px;
    font-size: 20px;
    font-weight: 600;
    color: #fff !important
}

#mobile_menu {
    padding: 0;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: auto;
    z-index: 4;
    display: none
}

#mobile_menu.active i {
    color: #3e8afa
}

#mobile_menu i {
    margin: 0;
    font-size: 18px
}

#header_menu {
    height: 65px;
    margin: 0;
    float: left
}

#header_menu .container {
    position: relative
}

#header_menu ul.header_menu-list {
    list-style: none;
    padding: 0;
    display: block
}

#header_menu ul.header_menu-list .nav-item {
    display: inline-block;
    margin: 0 3px;
    position: relative
}

#header_menu ul.header_menu-list .nav-item>a {
    height: 65px;
    line-height: 65px;
    margin: 0;
    padding: 0 20px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase
}

#header_menu ul.header_menu-list .nav-item:hover>a {
    color: #fff
}

#header_menu ul.header_menu-list .nav-item.active>a:before {
    content: "";
    width: 100%;
    height: 3px;
    background: #3e8afa;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

#header_menu .header_menu-sub {
    position: absolute;
    top: 65px;
    left: 0;
    width: 700px;
    background: #fff;
    z-index: 102;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1)
}

#header_menu .header_menu-sub ul.sub-menu {
    padding: 10px;
    text-align: left;
    list-style: none;
    overflow: hidden;
    margin-left: -1%;
    margin-right: -1%
}

#header_menu .header_menu-sub ul.sub-menu li {
    width: 23%;
    float: left;
    margin: 0 1%
}

#header_menu .header_menu-sub ul.sub-menu li a {
    height: 30px;
    color: #111;
    line-height: 30px;
    padding: 0 10px;
    display: block;
    font-size: 15px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

#header_menu .header_menu-sub ul.sub-menu li:hover a {
    background: #3e8afa;
    color: #fff !important
}

#header_right {
    position: absolute;
    top: 10px;
    right: 15px
}

#header_right #search-toggle {
    display: inline-block
}

#header.active {
    z-index: 102
}

#header .btn-on-header:hover {
    background: 0 0;
    color: #3e8afa !important
}

#header #search-toggle .btn-on-header {
    font-size: 20px
}

#header #search-toggle.active .btn-on-header {
    background: #3e8afa;
    color: #fff
}


#search {
    width: 300px;
    margin: 3.5px 10px 0 0;
    color: #111;
    position: relative;
    float: left
}

.search-content {
    position: relative
}

.search-content input.search-input {
    height: 38px;
    color: #111;
    padding-left: 40px;
    font-size: 14px;
    font-weight: 300;
    background: #fff;
    border-radius: 30px;
    border: none;
    box-shadow: none !important
}

.search-content input.search-input:focus {
    background: #fff
}

.search-content .search-icon,
.search-content .search-submit {
    width: 40px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    color: #111;
    font-size: 14px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2
}

.search-content .search-submit {
    left: auto;
    right: 0;
    display: none
}

.search-content .search-submit i {
    line-height: 40px;
    color: #111;
    font-size: 20px
}


#header .header-home-add {
    display: none
}

@media screen and (min-width: 1200px) {
    #header.header-home-fix {
        position: relative;
        height: auto;
        text-align: center;
        margin-bottom: 80px;
        background: #144184 url(../../../images/group_1/theme_7/header-bg.jpg) top repeat-x
    }

    #header.header-home-fix #logo {
        position: absolute;
        float: none;
        top: 0;
        left: 15px;
        margin-right: 0
    }

    #header.header-home-fix #search {
        display: none
    }

    #header.header-home-fix .btn-on-header {
        background: #fff;
        color: #111 !important;
        height: 35px;
        margin: 5px 0;
        padding: 0 10px;
        line-height: 35px
    }

    #header .btn-on-header.btn-login {
        font-size: 1em
    }

    #header.header-home-fix .btn-on-header.btn-login i {
        font-size: 14px;
        margin-right: 10px !important
    }

    #header.header-home-fix #header_menu {
        float: none;
        display: inline-block;
        margin: 0 auto
    }

    #header.header-home-fix .header-home-add {
        position: relative;
        margin: 60px 0 0;
        text-align: center;
        clear: both;
        width: 100%;
        display: inline-block
    }

    #header.header-home-fix #search-home {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 980px
    }

    #header.header-home-fix #search-home .search-content {
        position: relative;
        margin-right: 80px;
        bottom: -35px
    }

    #header.header-home-fix #search-home .search-content input.search-input {
        height: 70px;
        margin: 0;
        border-radius: 45px;
        padding-right: 85px;
        background: #fff;
        color: #cfcfcf;
        border: none;
        font-size: 1.8em;
        font-weight: 300;
        padding-left: 65px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, .05) !important
    }

    #header.header-home-fix #search-home .search-content input.search-input:focus {
        box-shadow: 0 20px 20px rgba(0, 0, 0, .1) !important
    }

    #header.header-home-fix #search-home .search-content .btn-primary-submit,
    #header.header-home-fix #search-home .search-content .search-icon {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 20px;
        color: #111
    }

    #header.header-home-fix #search-home .search-content .btn-primary-submit {
        position: absolute;
        top: 0;
        right: -80px;
        bottom: 0;
        z-index: 9;
        padding: 0;
        border-radius: 35px
    }

    #header.header-home-fix #search-home .search-content .search-result-pop {
        top: 75px;
        border-radius: 10px;
        padding: 10px 0 0;
        overflow: hidden
    }

    #header.header-home-fix .sht-heading {
        margin-bottom: 0 !important
    }
}


#footer {
    padding: 30px 0
}

#footer .container {
    padding-left: 15px
}

#footer .footer-logo-block {
    position: relative;
    top: auto;
    left: auto;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
    text-align: left
}

#footer .footer-logo-block .footer-logo {
    display: none
}

#footer .footer-logo-block p {
    margin-bottom: 0 !important
}