@media screen and (min-width: 38rem) {

    header,
    main,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }


    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    h2 {
        text-align: center;
        background-color: lightgray;
    }

    .aboutme {
        grid-column: 1 / 3;
        /* spans from column 1 to column 3 */
        text-align: justify;
        padding: 0.8rem;
        margin: 1.2rem;

    }

    .student {
        grid-column: 3 / 4;
        /* spans only the 3rd column */
        padding: 0.8rem;
        margin: 1.2rem;
    }

    .certificates {
        grid-column: 1/4;
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: #eee;
        border: 1px solid rgba(0, 0, 0/10%);
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }



    .courses {
        display: flex;
        gap: 8px;
        background-color: lightgray;
    }

}