/*     COLOR SCHEME         */
/*blue
red
yellow
*/

/*            sitename*/
* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/*HEADER*/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px rgb(138, 30, 30);
    column-gap: 8px;
}

.logoClass {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: blue;
}


.hero {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
    grid-column: 1/4;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
}

/*HAMBURGER NAVIGATION*/
.hamburger {
    background-color: white;
    border: none;
    color: blue;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* NAVIGATION*/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}



.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {

    padding: .8rem 10px;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}


nav a:hover {
    color: white;
    background-color: black;
}

nav .active {
    text-decoration: underline;
}

h1 {
    margin-left: 10px;
}

#home {
    grid-column: 1/4;
}


/*******************FOOTER******************/
footer {
    background-color: #eee;
    /*padding: 1rem 10px;*/
    padding: 5px 0 5px 10px;
    text-align: center;
}

.lastFooter {
    display: block;
    margin: 5px;
    align-items: center;
    width: 100%;


}


.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 24px;

}

.social img {
    width: 22px;
    height: 22px;

}

.social a:hover {
    background-color: #ddd;
}



.grid {
    display: block;

}

.member-card {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: #eee;
    width: 100%;
    height: 100%;
    padding: 30px;
    color: black;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas:
        "operator"
        "aircraft"
        "image"
        "fatalities"
        "date";
}

.member-card h2 {
    margin: 1rem 10px;
    grid-area: aircraft;
}

.member-card p {
    margin: 1rem 10px;
    grid-area: fatalities;
}

.member-card h3 {
    margin: 1rem 10px;
    font-size: small;
    color: black;
    grid-area: date;
}

.member-card h4 {
    margin: 1rem 10px;
    font-size: small;
    color: black;
    grid-area: operator;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    box-shadow: 0 0 1rem #555;
}

ul {
    list-style: none;
}


#closeButton {
    width: 100%;
    height: 100%;
}

.open-button {
    width: 100px;
    height: 60px;
    padding: 8px 12px;
    background-color: lightgoldenrodyellow;
}

@media screen and (min-width: 38rem) {

    header,
    main,
    footer {
        max-width: 100%;
        margin: auto;
    }

    main {
        padding: 10px;
    }




    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
        padding: 10px;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .lastFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: left;

    }

    .footerChamber h2 {
        background-color: transparent;
    }

    .mainPage {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 5px;
        align-items: center;
        text-align: justify;
        gap: 15px;
        padding: 20px;
        height: 100%;

    }

    .home {
        grid-template-columns: 1/4;
    }



    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
        align-items: center;

    }

    .member-card {

        grid-template-areas:
            "photo operator"
            "photo aircraft"
            "photo fatalities"
            "photo date";
    }

    .member-card img {
        width: 300px;
    }

    .designOne {
        display: flex;
        gap: 150px;
        width: 100%;
    }

    section h1 {
        width: 100%;
    }


}


* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

h1 {
    color: #3D405B;
}

form {
    margin: 1rem 2%;
}

label {
    display: block;
    font-size: .8rem;
    color: purple;
    padding-top: .2rem;
}

h3 {
    font-size: .9rem;
    color: #E07A5F;
    margin: 1.5rem 0 .2rem 0;
    border-bottom: 1px solid #eee;
}

input[type=text],
input[type=email],
select {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 1rem;
    color: #3D405B;
    width: 250px;
}

input:required {
    border-left-color: #d70000;
}

input:focus {
    border-left-color: black;
    outline: none;
}

input:required:valid {
    border-left-color: green;
}

input[type=submit] {
    border: none;
    text-align: center;
    background-color: #3D405B;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
}


input:-webkit-autofill {
    -webkit-text-fill-color: #3D405B;
}